@media screen and (min-width: 992px){
    .div_general{
        width: 100%;
    }
    .nav{
        background: rgb(148, 148, 30);
        padding: 10px;
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
        height: 40px;
    }
    .nav-toggle {
        display: none;
    }

    .mov{
        display: none;
    }
    .web {
        font-size: 18px;
        font-weight: 500;
        color: navy; 
        display: block;
        line-height: 65px;
        margin-left: 70px;
        position: relative;
    }
    .div_0{
        display:flex;
        justify-content: center;/* Para separar los elementos con espacio entre ellos */
        flex-wrap:wrap; /* Para que los elementos se ajusten automáticamente al tamaño del contenedor */
        align-items: center;
        background: blue;
        width: 100%;
        height: 30%;
        margin-top: 0%;
        margin-left: 0%;
        border: 2px solid;
        border-radius: 10px;
        float: left;  
        align-items: center;
    } 
    .div1{
        background: orange;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left;
    } 
    .div1 .G1{
        display: none;
    }




    .div2{
        background: aqua;
        width: calc(33.33% - 10px); /* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left; 
    }
    .div3{
        background: chartreuse;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left; 
    }
    .div4{
        background: darkcyan;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left;
    } 
    .div5{
        background: firebrick;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left;
    }
    .div6{
        background: green;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left;
    }
    .divgeneral{
        background: violet;
    }
     /* ************************** div formulario*************************************************************************  */
    .formulario{
        background: blueviolet;
        width: 100%;
        height: 100vh;
        /* display: flex; */
    } 
    .formulario .carga_equipo{
        background: white;
       /* width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        /*margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        width: 50%;
        height: 80vh;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left;
    }
    .id_nombre{
        width: 90%;
        height: 10vh;
        margin-top: 5%;
        margin-left: 5%;
        background-color: brown;
        float: left;
    }
    .id_nombre .equip{
        width: 44%;
        height: 7.5vh;
        background-color: orange;
        float: left;
        margin-left: 4%;
        margin-top: 1.5%;
        
        

    }
     .id_nombre .equip .label1{
        width: 30%;
        margin-top: 3%;
        background-color: darkgreen;
        float: left;
    }
    .id_nombre .equip .input1{
        width: 68%;
        margin-top: 3% ;
        margin-left: 2%;
        background-color: blue;
        float: left;
    } 
    .input_1{
        width: 95%;

    }


    .id_nombre .nom{
        width: 44%;
        height: 7.5vh;
        background-color: crimson;
        float: left;
        margin-left: 4%;
        margin-top: 1.5%;
        
    }
    .id_nombre .nom .label2{
        width: 30%;
        margin-top: 3%;
        background-color: darkgreen;
        float: left;
    }
    .id_nombre .nom .input2{
        width: 67%;
        margin-top: 3% ;
        margin-left: 2%;
        background-color: blue;
        float: left;
    }
    .input_2{
        width: 95%;

    } 
    .titulo{
        width: 90%;
        height: 10vh;
        margin-top: 1%;
        margin-left: 5%;
        /* background-color: yellow; */
        background: none;
        float: left;
    }
    .titulo .tit_nom{
        width: 23%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        /* background-color: darkgreen; */
        background: none;
        float: left;
        text-align: center;
        color: blue;
        font-style: italic;
        font-size:larger;
    }
    .titulo .tit_sost{
        width: 23%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        /* background-color: red; */
        background: none;
        float: left;
        text-align: center;
    }
    .titulo .tit_pul{
        width: 23%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        /* background-color: blue; */
        background: none;
        float: left;
        text-align: center;
    }
    .titulo .tit_seg{
        width: 23%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        /* background-color: violet; */
        background: none;
        float: left;
        text-align: center;
    }
    /* ************************************************************************************** */
    .can1{
        width: 90%;
        height: 10vh;
        margin-top: 1%;
        margin-left: 5%;
        /* background-color: gray; */
        background: none;
        float: left;
        
    }
    .can1 .entrada{
        width: 24%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        /* background-color:brown; */
        background: none;
        float: left;
        border-radius: 5px;
    }
    .can1 .sost{
        width: 15%;
        margin-top: 2%;
        /* margin-left: 0.5%;  */
        /* background-color: darkgreen; */
        /* float: left; */
        align-items: center;
    }
    .can1 .pul{
        width: 15%;
        margin-top: 2%;
        margin-left: 10%; 
        /* background-color: cadetblue; */
        float: left;
        align-items: center;
    }
    .can1 .entrada1{
        width: 15%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 55%;
        /* background-color: cadetblue; */
        background: none;
        float: left;
        text-align: center;
        border-radius: 5px;
    }
    /* ************************************************************************************** */
    .can2{
        width: 90%;
        height: 10vh;
        margin-top: 1%;
        margin-left: 5%;
        /* background-color: green; */
        background: none;
        float: left;
    }
    .can2 .entrada{
        width: 24%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        /* background-color:brown; */
        float: left;
        border-radius: 5px;
    }
    .can2 .sost{
        width: 15%;
        margin-top: 2%;
        /* margin-left: 0.5%;  */
        /* background-color: darkgreen; */
        float: left;
        align-items: center;
    }
    .can2 .pul{
        width: 15%;
        margin-top: 2%;
        margin-left: 10%; 
        /* background-color: cadetblue; */
        float: left;
        align-items: center;
    }
    .can2 .entrada1{
        width: 15%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 55%;
        /* background-color: cadetblue; */
        float: left;
        text-align: center;
        border-radius: 5px;
    }
    /* ************************************************************************************** */
    .can3{
        width: 90%;
        height: 10vh;
        margin-top: 1%;
        margin-left: 5%;
        background-color: violet;
        float: left;
    }
    .can3 .entrada{
        width: 24%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        background-color:brown;
        float: left;
        border-radius: 5px;
    }
    .can3 .sost{
        width: 15%;
        margin-top: 2%;
        /* margin-left: 0.5%;  */
        background-color: darkgreen;
        /* float: left; */
        align-items: center;
    }
    .can3 .pul{
        width: 15%;
        margin-top: 2%;
        margin-left: 10%; 
        background-color: cadetblue;
        float: left;
        align-items: center;
    }
    .can3 .entrada1{
        width: 15%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 55%;
        background-color: cadetblue;
        float: left;
        text-align: center;
        border-radius: 5px;
    }
    /* ************************************************************************************** */
    .can4{
        width: 90%;
        height: 10vh;
        margin-top: 1%;
        margin-left: 5%;
        background-color: blue;
        float: left;
    }
    .can4 .entrada{
        width: 24%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        background-color:brown;
        float: left;
        border-radius: 5px;
    }
    .can4 .sost{
        width: 15%;
        margin-top: 2%;
        /* margin-left: 0.5%;  */
        background-color: darkgreen;
        /* float: left; */
        align-items: center;
    }
    .can4 .pul{
        width: 15%;
        margin-top: 2%;
        margin-left: 10%; 
        background-color: cadetblue;
        float: left;
        align-items: center;
    }
    .can4 .entrada1{
        width: 15%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 55%;
        background-color: cadetblue;
        float: left;
        text-align: center;
        border-radius: 5px;
    }
    /* ************************************************************************************** */
    .guardar{
        height: 5vh ;
        margin-top: 0.5%;
        margin-left: 30%;
        text-align: center;

    }
    .cancelar{
        height: 5vh;
        margin-top: 0.5%;
        margin-left: 30%;
        text-align: center;
    }
    /* .entrada{
        width: 5%;
    } */
}