@media screen and (max-width: 576px){
    
    .div_general{
        width: auto;

    }
    .header {
        height: 60px;
        z-index: 5;
        background-color: red;
         /* background-color: rgb(148, 79, 79);  */
    }
    .web{
        display: none;
    }
    .mov {
        font-size: 18px;
        font-weight: 500;
        color: navy; 
        display: block;
        line-height: 65px;
        margin-left: 70px;
        position: relative;
    }



    .nav-menu {
        flex-direction: column;
        margin-right: 10px;
        /* background-color: #034574; */
        background-color: pink;
        position: fixed;
        right: 0;
        top: 58px;
        width: 100%;
        padding: 10px 0;
        /* height: 120px; */
        height: 200px;
        /*calc(100%-30px);*/
        overflow-y: auto;
        right: -700px;
        transition: 0.7s;

    }

    .nav-menu-link {
        font-size: 18px;
        line-height: 35px;
        color: white;
    }

    .nav-menu-link:hover {
        background-color: none;
        transition: 0.5s;
        color: white;
    }

    .nav-toggle {
         color: black; 
         /* border: 1px solid black;  */
         border: transparent;
         border-radius: 3px; 
        background: none;
        font-size: 25px;
        padding: 0 15px;
        line-height: 58px;
        cursor: pointer;
        display: block;
    }

    .nav-menu__visible {
        right: -10px;
    }




    /* .nav{
        background-color: rgba(0,0, 198, 1);;
        padding: 10px;
        display: flex; */
        /* justify-content: space-around; */
        /* width: 100%;
        height: 40px;
    } */


    .divgeneral{
        background-color: rgba(240, 240, 240, 0.39);
        display:flex;
        justify-content: center;/* Para separar los elementos con espacio entre ellos */
        flex-wrap: wrap; /* Para que los elementos se ajusten automáticamente al tamaño del contenedor */
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 0%;
        margin-left: 0%;
        border: 2px solid transparent;
        border-radius: 10px;
        float: left;  
        align-content: space-between;
    }  
    .div1{
        background-color: rgb(255, 255, 255);
        width: 70%;
        height: 20vh;
        margin-top: 7.5%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.3);
        border-radius: 10px;
        float: left; 
        text-align: center;
    }   

    .div1 .G1{
        display: flex;
        width: 95%;
        height: 90%;
        margin-top: 3.5%;
        margin-left: 2.5%;
        display: flex;
        /* border: 2px solid; */
        /* border-radius: 10px; */
    }
    


    .div2{
        /*background: aqua;*/
        background-color: rgb(255, 255, 255);
        width: 70%;
        height: 30vh;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.3);
        border-radius: 10px;
        float: left; 
    }
    .div3{
        background-color: rgb(255, 255, 255);
        width: 70%;
        height: 30vh;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.3);
        border-radius: 10px;
        float: left; 
    }
    .div4{
        background-color: rgb(255, 255, 255);
        width: 70%;
        height: 30vh;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.3);
        border-radius: 10px;
        float: left; 
    } 
    .div5{
        background-color: rgb(255, 255, 255);
        width: 70%;
        height: 30vh;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.3);
        border-radius: 10px;
        float: left; 
    }
    .div6{
        background-color: rgb(255, 255, 255);
        width: 70%;
        height: 30vh;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.3);
        border-radius: 10px;
        float: left; 
    }
    /* ***********************************************************************************************
                                        clases del formulario
    *********************************************************************************************** */
        .formulario{
        background: blueviolet;
        width: 100%;
        height: 100vh;
        /* display: flex; */
    } 
    .formulario .carga_equipo{
        background: white;
        width: 97%;
        height: 88vh;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid;
        border-radius: 10px;
        float: left;
    }
    .id_nombre{
        width: 90%;
        height: 20vh;
        margin-top: 5%;
        margin-left: 5%;
        background-color: brown;
        float: left;
    }
    .id_nombre .equip{
        width: 92%;
        height: 7.5vh;
        background-color: orange;
        float: left;
        margin-left: 4%;
        margin-top: 3%;
        
        

    }
     .id_nombre .equip .label1{
        width: 30%;
        height: 5vh;
        margin-top: 4%;
        background-color: darkgreen;
        float: left;
    }
    .id_nombre .equip .input1{
        width: 68%;
        margin-top: 3% ;
        margin-left: 2%;
        background-color: blue;
        float: left;
    } 
    .input_1{
        width: 99%;

    }


    .id_nombre .nom{
        width: 92%;
        height: 7.5vh;
        background-color: crimson;
        float: left;
        margin-left: 4%;
        margin-top: 1.5%;
        
    }
    .id_nombre .nom .label2{
        width: 30%;
        height: 5vh;
        margin-top: 4%;
        background-color: darkgreen;
        float: left;
    }
    .id_nombre .nom .input2{
        width: 68%;
        margin-top: 3% ;
        margin-left: 2%;
        background-color: blue;
        float: left;
    }
    .input_2{
        width: 99%;

    } 
    .titulo{
        width: 90%;
        height: 10vh;
        margin-top: 2%;
        margin-left: 5%;
        background-color: yellow;
        float: left;
    }
    .titulo .tit_nom{
        width: 23%;
        height: 6vh;
        margin-top: 4%;
        margin-left: 2%;
        background-color: darkgreen;
        float: left;
        text-align: center;
    }
    .titulo .tit_sost{
        width: 23%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        background-color: red;
        float: left;
        text-align: center;
    }
    .titulo .tit_pul{
        width: 23%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        background-color: blue;
        float: left;
        text-align: center;
    }
    .titulo .tit_seg{
        width: 23%;
        height: 6vh;
        margin-top: 2%;
        margin-left: 2%;
        background-color: violet;
        float: left;
        text-align: center;
    }
    .can1{
        width: 90%;
        height: 10vh;
        margin-top: 2%;
        margin-left: 5%;
        background-color: gray;
        float: left;
    }
    .can1 .entrada{
        width: 25%;
        margin-top: 3%;
        background-color:brown;
        float: left;
    }
    .can1 .sost{
        width: 25%;
        margin-top: 3%;
        background-color: darkgreen;
        float: left;
    }
    .can1 .pul{
        width: 25%;
        margin-top: 3%;
        background-color: cadetblue;
        float: left;
    }
    .can2{
        width: 90%;
        height: 10vh;
        margin-top: 5%;
        margin-left: 5%;
        background-color: green;
        float: left;
    }
    .can3{
        width: 90%;
        height: 10vh;
        margin-top: 5%;
        margin-left: 5%;
        background-color: violet;
        float: left;
    }
    .can4{
        width: 90%;
        height: 10vh;
        margin-top: 5%;
        margin-left: 5%;
        background-color: blue;
        float: left;
    }
    .entrada{
        width: 5%;
    }
}