
*{
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 1080px){


    .nav{
        background: rgb(148, 148, 30);
        padding: 10px;
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
        height: 40px;
    }
    
 
    .nav2{
        margin-top: 80%;
        background: rgb(148, 148, 30);
        padding: 10px;
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
        height: 40px;
    }
    
    .divgeneral{
        display:flex;
        justify-content: center;/* Para separar los elementos con espacio entre ellos */
        flex-wrap:wrap; /* Para que los elementos se ajusten automáticamente al tamaño del contenedor */
        align-items: center;
        background: blue;
        width: 100%;
        height: 100%;
        margin-top: 0%;
        margin-left: 0%;
        border: 2px solid;
        border-radius: 10px;
        float: left;  
        align-items: center;
    }  
    
    .div1{
        background: orange;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left;
    }   
    .div2{
        background: aqua;
        width: calc(33.33% - 10px); /* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left; 
    }
    .div3{
        background: chartreuse;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left; 
    }
    .div4{
        background: darkcyan;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left;
    } 
    .div5{
        background: firebrick;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left;
    }
    .div6{
        background: green;
        width: calc(33.33% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        height: 200px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-radius: 10px;
        float: left;
    }

    .divgeneral{
        background: violet;
    }
    .div1{
        width: 25%;/* Para que los elementos se ajusten a dos columnas en pantallas más pequeñas */
    }
    .div2{
        width: 25%;
    }
    .div3{
        width: 25%;
    }
    .div4{
        width: 25%;
    }
    .div5{
        width: 25%;
    }
    .div6{
        width: 25%;
    }
}

@media screen and (max-width: 360px){
    nav{
        background-color: navy;
        padding: 10px;
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
        height: 40px;
    }
    .divgeneral{
        display:flex;
        justify-content: center;/* Para separar los elementos con espacio entre ellos */
        flex-wrap: wrap; /* Para que los elementos se ajusten automáticamente al tamaño del contenedor */
        align-items: center;
        /*background: blue;*/
        width: 100%;
        height: 100%;
        margin-top: 0%;
        margin-left: 0%;
        border: 2px solid transparent;
        border-radius: 10px;
        float: left;  
        align-content: space-between;
    }  
    .div1{
        /*background-color: rgba(255, 166, 0, 0.15);*/
        background-color: transparent;
        /*width: calc(20% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        width: 85%;
        /*margin-bottom: 20px;*/
        height: 200px;
        margin-top: 7.5%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.6);
        border-radius: 10px;
        float: left; 
        text-align: center;
    }   
    .div2{
        /*background: aqua;*/
        background-color: transparent;
       /* width: calc(25% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        /*margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        width: 85%;
        height: 200px;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.6);
        border-radius: 10px;
        float: left; 
    }
    .div3{
        /*background: chartreuse;*/
        background-color: transparent;
        /*width: calc(25% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        /*margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        width: 85%;
        height: 200px;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.6);
        border-radius: 10px;
        float: left; 
    }
    .div4{
        /*background: darkcyan;*/
        background-color: transparent;
        /*width: calc(25% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        /*margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        width: 85%;
        height: 200px;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.6);
        border-radius: 10px;
        float: left; 
    } 
    .div5{
        /*background: firebrick;*/
        background-color: transparent;
        /*width: calc(25% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        /*margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        width: 85%;
        height: 200px;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.6);
        border-radius: 10px;
        float: left; 
    }
    .div6{
        /*background: green;*/
        background-color: transparent;
        /*width: calc(25% - 10px);/* Para dar un ancho fijo a cada elemento con un margen de 10px */
        /*margin-bottom: 20px;/* Para agregar un espacio entre los elementos */
        width: 85%;
        height: 200px;
        margin-top: 3.75%;
        margin-bottom: 3.75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(102, 101, 99, 0.6);
        border-radius: 10px;
        float: left; 
    }
    /*.divgeneral{
        background: orange;
    }
    .div1{
        width: 100%;
    }
    .div2{
        width: 100%;
    }
    .div3{
        width: 100%;
    }
    .div4{
        width: 100%;
    }
    .div5{
        width: 100%;
    }
    .div6{
        width: 100%;
    }*/
}